{
  "all": true,
  "per-file": true,
  "check-coverage": true,
  "lines": 100,
  "statements": 100,
  "functions": 100,
  "branches": 100,
  "include": ["src/**/*.js", "bin/**/*.js", "test/**/*.js", "bin/checkVariables.js", "integrationTests/**/*.js"],
  "exclude": [
    "node_modules/**/*"
  ],
  "reporter": [
    "text",
    "lcov",
    "text-summary"
  ]
}
